.button {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  background: none; 
}

.filled {
  width: 200px;
  height: 40px;
  background-color: palette();
  color: white;
  font-size: 1.2em;
  @include transitions(background-color, 400ms, ease-in-out);
  
  &:hover {
    background-color: darken(palette(), 15%);
  }
}