.clearfix {
  
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.clear {
  display: block;
  clear: both;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-bottom: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important; // Override potential support classes
}

.padding {
  padding: 5% 0;
  
  @include respondFrom(tablet) {
    padding: 2% 0;
  }
  
  &.narrow {
    padding: 5% 0;
  }
  
  &.medium {
    padding: 12% 0;
  }
  
  &.thick {
    padding: 17% 0;
  }
  
  &.extreme {
    padding: 22% 0;
  }
}

.padding-top {
  padding-top: 1%;
  
  &.narrow {
    padding-top: 2.5%;
  }
  
  &.medium {
    padding-top: 5%;
  }
  
  &.thick {
    padding-top: 10%;
  }
  
  &.extreme {
    padding-top: 15%;
  }
}

.divider {
  width: 150px;
  height: 2px;
  margin: 3px auto;
  border: 0;
  background-color: white;
  
  @include respondFrom(tablet) {
    width: 300px;
  }
}

.narrow-divider {
  display: block;
  width: 30px;
  height: 2px;
  margin: 30px 0;
  border: 0;
  clear: both;
  background-color: white;

  &.full {
    width: 100%;
  }
}

.highlight {
  color: palette();
}

.text-bold {
  font-weight: 700;
}

.small-logo {
  max-width: 100%;
  max-height: 70px;
}

.module-index {
  font-size: 1.6em;
}

.mark-pr {
  color: palette();
}

.mark-alt {
  color: palette($tone: 'secondary', $variant: 'base');
}

.resp-text {
  text-align: center;
  
  @include respondFrom(small-tablet) {
    
    &.left {
      text-align: left;
    }
    
    &.right {
      text-align: right;
    }
  }
}

.enhance-size {
  font-size: 16px;
}