.input,
.textarea {
  font-family: 'Oswald', 'sans-serif';
}

.input {
  height: 50px;
  
  &:focus {
    border-color: palette();
  }
}

.textarea {
  max-width: 100%;
  min-height: 200px;
  max-height: 600px;
  
  &:focus {
    border-color: palette();
  }
}

.valid, 
.invalid {
  display: block;
  margin-bottom: 20px;
}

.valid {
  color: #73f211;
}

.invalid {
  color: palette($tone: 'primary', $variant: 'dark');
}