#site-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 9999;
  background-color: palette();
}

#logo {
  @include anchorStyles(white, black);
  font-size: 1.4em;
  line-height: inherit;
  font-weight: 700;
}

#hero {
  margin-top: 60px;
  background: url('../images/calm.jpg');
  background-size: cover;
  text-align: center;
  
  svg {
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 60px;
    height: 60px;
    fill: palette();
    stroke: palette();
    cursor: pointer;
    @include transitions(all, 400ms, ease-in-out);
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
    
    &:hover {
      fill: darken(palette(), 15%);
      stroke: darken(palette(), 15%);
    }
  }
}

#hero__title {
  margin-top: 20%;
  
  @include respondFrom(tablet) {
    font-size: 5em;
  }
}

#hero__sub-title {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', 'Oswald', 'sans-serif';
  font-size: 1.2em;
  
  @include respondFrom(tablet) {
    font-size: 1.5em;
  }
}

#skillset {
  background-color: palette($tone: 'secondary', $variant: 'dark');
  text-align: center;
}

.skillset__svg {
  width: 170px;
  height: 140px;
}

.fav-box {
  height: 150px;
  line-height: 150px;
  
  @include respondFrom(tablet) {
    height: 200px;
    line-height: 200px;
  }
}

.fav-box__logo {
  max-width: 80%;
  vertical-align: middle;
  margin-bottom: 0.25em;
}

#projects {
  background-color: palette();
}

.project__image {
  max-width: 100%;
}

.project__title {
  font-weight: 700;
  font-size: 3em;
}

.project__slogan {
  margin-top: 0;
  color: black;
}

.project__methods {
  margin-top: 30px;
}

.project__methods__logo-box {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  
  &:nth-of-type(3),
  &:nth-of-type(4) {
    margin-bottom: 0;
  }
  
  &.svg {
    width: 90px;
  }
}

#about {
  padding: 15% 0;
  background-color: palette($tone: 'secondary', $variant: 'dark');
  
  @include respondFrom(tablet) {
    padding: 5%;
  }
}

#contact {
  padding: 0 0 15%;
  background-color: palette($tone: 'secondary', $variant: 'dark');
  
  @include respondFrom(tablet) {
    padding: 0 5% 5%;
  }
}

.contact__info {
  text-align: center;
  
  @include respondFrom(desktop) {
    
    &.left {
      text-align: left;
    }
    
    &.right {
      text-align: right;
    }
  }
}

#site-footer {
  background-color: palette($tone: 'secondary', $variant: 'dark');
  color: lighten(palette($tone: 'secondary', $variant: 'base'), 10%);
  font-size: 1.4em;
}