#nav-wrapper {
  background-color: palette();
  
  @include respondFrom(tablet) {
    padding: 0 8% 0 0;
  }
}

#site-nav {
  @include anchorStyles(white, black);
  min-height: 60px;
  
  @include respondFrom(tablet) {
    float: right;
  }
}

#nav-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9000;
  float: right;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    background: none;
  }
  
  .icon-bar {
    width: 28px;
    background-color: white;
    
    &:nth-of-type(1n+3) {
      margin-top: 6px;  
    }
    
    &:nth-of-type(2) {
      -webkit-transition: -webkit-transform .4s;
      transition: transform .4s;
    }
    &:nth-of-type(3) {
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
    }
    &:nth-of-type(4) {
      -webkit-transition: -webkit-transform .4s;
      transition: transform .4s;
    }
  }

  &.x {
    .icon-bar {
      margin: 13px 0;

      &:nth-of-type(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-of-type(3) {
        opacity: 0;
      }

      &:nth-of-type(4) {
        margin-top: -30px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

.menu-item {
  min-height: inherit;
  text-align: center;
  font-size: 1.2em;
    
  &:active {
    background-color: palette($tone: 'primary', $variant: 'dark');
  }
  
  @include respondFrom(tablet) {
    margin-left: 50px;
  }
  
  @include respondFrom(desktop) {
    
    &:active {
      background: none;
    }
  }
  
  a {
    min-height: inherit;
  }
}