.navbar-default {
  border: 0;
  border-radius: 0;
  background: none;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border: 0;
}

.container-fluid > .navbar-header {
  position: relative;
  margin-left: 15px;
  
  @include respondFrom(tablet) {
    padding-left: 15px;
  }
  
  @include respondFrom(desktop) {
    margin-left: 8%;
    padding-left: 0;
  }
}

.navbar-default .navbar-brand {
  height: auto;
  line-height: inherit;
  padding: 0;
  color: white;
  
  &:active,
  &:hover {
    color: white;
  }
}

.navbar-nav {
  
  li {
    
    a {
      line-height: inherit;
    }
  }
}

.navbar-toggle {
  margin: 0 !important;
  padding: 0 !important;
}