<div id="about" class="container-fluid color-offset" ng-controller="AboutCtrl">
  <main class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
      <header class="row">
        <h1 class="col-xs-10 no-margin no-padding text-bold" ng-bind="about.title"></h1>
        <span class="col-xs-2 module-index no-padding text-right"><span class="mark-pr">.</span>02</span>
      </header>
      <div class="row">
        <hr class="narrow-divider no-padding">
      </div>
      <article class="row enhance-size">
        <p ng-repeat="p in about.text" ng-bind="p"></p>
      </article>
      <footer class="row resp-text right">
        <hr class="narrow-divider full">
        <button class="button filled" ng-bind="about.buttonText" 
                scroll-to="{{'contact'}}" offset="60"></button>
      </footer>
    </div>
  </main>
</div>