<div id="contact" class="container-fluid" 
     data-slide-toggle ng-controller="ContactCtrl">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
    <header class="row">
      <h1 class="col-xs-10 no-margin no-padding text-bold">Kontakta mig</h1>
      <span class="col-xs-2 module-index no-padding text-right"><span class="mark-pr">.</span>03</span>
    </header>
    <div class="row">
      <hr class="narrow-divider">
    </div>
  </div>
  <div class="row">
    <form class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
      <div class="form-group">
        <input type="text" class="form-control input" placeholder="Namn"
               ng-model="data.name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input" placeholder="Företag"
               ng-model="data.company">
      </div>
      <div class="form-group">
        <input type="email" class="form-control input" placeholder="E-post"
               ng-model="data.sender">
      </div>
      <div class="form-group">
        <textarea class="form-control textarea" placeholder="Meddelande"
                  ng-model="data.message"></textarea>
      </div>
      <div class="form-group resp-text right">
        <hr class="narrow-divider full">
        <div class="text-center">
          <span class="invalid" ng-bind="error"></span>
          <span class="valid" ng-bind="status"></span>
        </div>
        <button class="button filled submit" ng-click="send(data)">Skicka</button>
      </div>
    </form>
  </div>
</div>