<address class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-md-3 contact__info right">
        <span ng-bind="contact.name"></span>
      </div>
      <div class="col-md-6 contact__info">
        <span ng-bind="contact.email"></span>
      </div>
      <div class="col-md-3 contact__info left">
        <span ng-bind="contact.city"></span>
      </div
    </div>
  </div>
</address>