<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid no-padding">
    <div class="navbar-header">
      <button type="button" id="nav-toggle" class="navbar-toggle collapsed" 
              data-toggle="collapse" data-target="#nav-wrapper" data-x-animation>
        <span class="sr-only">Aktivera meny</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <h1 id="logo" class="no-margin">
          <a ng-href="#/">Christoffer Skogh</a>
        </h1>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="nav-wrapper" data-close-window>
      <ul class="nav navbar-nav" id="site-nav">
        <li ng-repeat="item in menu" class="menu-item text-center" 
            scroll-to="{{item.scrollTo}}" offset="60" callback-after="close()">
          <a ng-href="#/{{item.href === false ? '' : item.href}}" 
             ng-bind="item.label" class="no-padding"></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>