<div id="projects" class="container-fluid color-offset padding narrow" ng-controller="ProjectsCtrl">
  <div class="row" ng-repeat="project in projects">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
      <div class="col-md-1 col-lg-1"></div>
      <div class="col-md-5 col-lg-5 text-center">
        <img ng-src="{{project.image}}" class="project__image">
      </div>
      <div class="col-md-5 col-lg-5">
        <header class="row">
          <span class="module-index" ng-bind="'.' + 0 + ($index + 1)"></span>
          <h1 class="project__title" ng-bind="project.title"></h1>
          <h3 class="project__slogan" ng-bind="project.slogan"></h3>
          <hr class="narrow-divider">
        </header>
        <main class="row">
          <article class="col-lg-8 project__desc enhance-size">
            <p ng-repeat="p in project.desc" ng-bind="p"></p>
          </article>
        </main>
        <footer class="row project__methods">
          <ul class="list-reset">
            <li ng-repeat="logo in project.methodsUsed" 
                class="project__methods__logo-box {{logo.isSvg ? 'svg' : ''}}">
              <img ng-src="{{logo.url}}" alt="{{logo.alt}}" class="small-logo">
            </li>
          </ul>
        </footer>
      </div>
      <div class="col-md-1 col-lg-1"></div>
    </div>
  </div>
</div>