<div id="skillset" class="container-fluid padding" ng-controller="SkillsCtrl">
  <div class="clearfix row">
    <div class="col-md-3 fav-box" ng-repeat="skill in skillset.favorites">
      <img ng-src="{{skill.imageUrl}}" alt="{{skill.alt}}" 
           class="fav-box__logo {{skill.isSvg === true ? 'skillset__svg' : ''}}">
    </div>
  </div>
</div>