@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Oswald:400,700,300);

body,
html {
  font-family: 'Source Sans Pro', 'Oswald', 'sans-serif'; 
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald';
  font-weight: 300;
}