$colors: (
  primary : (
    base: #e1382d,
    dark: #CF352B
  ),
  secondary: (
    light: #4f4f4f,
    base: #424242,
    dark: #2d2d2d
  ),
);

$breakpoints : (
  mobile: 480px,
  small-tablet: 600px,
  tablet: 768px,
  desktop: 992px,
  small-widescreen: 1200px,
  standard-widescreen: 1600px
);